* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.coming-soon-banner {
    background-color: #737373;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.logo-container > img {
    max-width: 80%;
    height: auto;
}

.coming-soon-banner h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 5rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: -2rem;
}
